{% extends "DOCPAT.html" %}
{% block body %}
<h4 class="display-3">Edit Profile</h4>

<form action="{{url_for('Doctors')}}" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  required>
    </div>
    <div class="form-group">
      <label for="deptinput">email</label>
      <input name= "email" type="text" class="form-control" id="deptinput" aria-describedby="emailHelp"  required>
    </div>
    <div class="form-group">
      <label for="idinput">password</label>
      <input name="password" type="number" class="form-control" id="idinput"  required>
    </div>
    <div class="form-group">
      <label for="idinput">phone number</label>
      <input name="phone" type="number" class="form-control" id="idinput" required>
    </div>
    <div class="form-group">
      <label for="idinput">write your id to proceed but it will not change</label>
      <input name="ID" type="number" class="form-control" id="idinput" required>
    </div>
    <button type="submit" class="btn btn-primary">save changes</button>

</form>

  
{% endblock %}